<h1 class="page-title">{{title}}</h1>
<section>
  <article class="row">
    <h2>WHO AM I?</h2>
    <div class="col-3"><img src="assets/images/elias.png"/></div>
    <div class="col-9">
      <p>I started streaming in 2011 under the name HlyHndGrnade back on Call of Duty Black Ops. This was prior to JustinTV becoming TwitchTV. I currently am a Web Developer that is primarily front end focused, however I've been learning more and more about the backend. I was born in New Zealand, and am an Austrian citizen through my dad. this means I am a triple citizen.</p>
      <p class="social"><b>Follow me around the web!</b><br/>
        <a href="https://twitch.tv/xxplosions"><i class="fa fa-twitch" aria-hidden="true"></i></a>
        <a href="https://twitter.com/xxplosions"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://youtube.com/xxplosions"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a href="https://facebook.com/xxplosions"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </p>
    </div>
  </article>
  <article class="row">
    <h2>WHY I STREAM?</h2>
    <p>I started streaming in 2011 under the name HlyHndGrnade back on Call of Duty Black Ops. This was prior to JustinTV becoming TwitchTV. I currently am a Web Developer that is primarily front end focused, however I've been learning more and more about the backend. I was born in New Zealand, and am an Austrian citizen through my dad. this means I am a triple citizen.</p>
  </article>
  <article class="row">
    <h2>WHAT GAMES DO I PLAY?</h2>
    <p>I started streaming in 2011 under the name HlyHndGrnade back on Call of Duty Black Ops. This was prior to JustinTV becoming TwitchTV. I currently am a Web Developer that is primarily front end focused, however I've been learning more and more about the backend. I was born in New Zealand, and am an Austrian citizen through my dad. this means I am a triple citizen.</p>
  </article>
  <article class="row">
    <h2>WHY VIDEO GAMES?</h2>
    <p>I started streaming in 2011 under the name HlyHndGrnade back on Call of Duty Black Ops. This was prior to JustinTV becoming TwitchTV. I currently am a Web Developer that is primarily front end focused, however I've been learning more and more about the backend. I was born in New Zealand, and am an Austrian citizen through my dad. this means I am a triple citizen.</p>
  </article>
  <article class="row">
    <h2>THE FUTURE</h2>
    <p>Enough about me, what does the future hold? I really look forward to continuing to grow my stream and really building an awesome community that is heavily focused on interaction and helping each other out. For the longest time I've tried to help other people out and encourage them to do stuff that they're interested in doing.</p>
    <p>I really want to be able to get my community to the point where I am able to give back to them in the form of promotion through hosting streams or even dual streaming with some people that are looking to expand into the community. Maybe that means a dual stream series once a week that is designed to help promote the people that have made livestreaming possible for me. I am always open to suggestions and improving my overall content on a daily basis. I will always stream and interact with those around me. There is just something about it that I need to be a part of. I don't get discouraged because I see it as an opportunity to interact with people that I normally would never talk to. Let's work together to make the best content possible.</p>
    <p>If you have ideas let me know in the community portion of the site. I'm always eager to chat with people and pick their brains since everyone knows something that I don't! Thanks for tuning in and checking out what I do. If you have any questions feel free to stop by my stream and ask me anything, or tune into the community page and ask your questions or provide feedback there. As always thanks for hanging out with me, it does mean a lot to me! Let's build friendships!</p>
  </article>
</section>